
<ul className="small-block-grid-1 medium-block-grid-3">
  <li>
    <ul className="accordion" data-accordion="myAccordionGroup">
      <li className="accordion-navigation">
        <a href="#panel1c">Allergens</a>
        <div id="panel1c" className="content">
          Panel 1. Lorem ipsum dolor
        </div>
      </li>
      <li className="accordion-navigation">
        <a href="#panel2c">Macros</a>
        <div id="panel2c" className="content">
          Panel 2. Lorem ipsum dolor
        </div>
      </li>
      <li className="accordion-navigation">
        <a href="#panel3c">Nutrients</a>
        <div id="panel3c" className="content">
          Panel 3. Lorem ipsum dolor
        </div>
      </li>
    </ul>
  </li>
  <li>
    <ul className="accordion" data-accordion="myAccordionGroup">
      <li className="accordion-navigation">
        <a href="#panel4c">Accordion 4</a>
        <div id="panel4c" className="content">
          Panel 4. Lorem ipsum dolor
        </div>
      </li>
      <li className="accordion-navigation">
        <a href="#panel5c">Accordion 5</a>
        <div id="panel5c" className="content">
          Panel 5. Lorem ipsum dolor
        </div>
      </li>
      <li className="accordion-navigation">
        <a href="#panel6c">Accordion 6</a>
        <div id="panel6c" className="content">
          Panel 6. Lorem ipsum dolor
        </div>
      </li>
    </ul>
  </li>
</ul>
