/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 */


svg{
  height: 5%;
  width: 80%;
}

.top-bar{
    background-attachment: fixed;
    background-image: url("https://adventuresincooking.com/wp-content/uploads/2017/11/Saffron-Star-Bread-by-Eva-Kosmas-Flores001-22.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.top-bar-left{
  color: #B4372F;
}

.accordion-item{
    background-attachment: fixed;
    background-image: url("https://adventuresincooking.com/wp-content/uploads/2017/11/Saffron-Star-Bread-by-Eva-Kosmas-Flores001-22.jpg");
    background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.home{
    background-attachment: fixed;
    background-image: url("https://adventuresincooking.com/wp-content/uploads/2017/11/Saffron-Star-Bread-by-Eva-Kosmas-Flores001-22.jpg");
    background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.body{
  background-color: #c7893c;

}

.grid-x {
    font-family: 'Quattrocento Sans', sans-serif; font-size: 1.5rem; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.438rem;
    margin-bottom: 0.625rem;
  }

.grid-x
  h3
    {
      font-family: 'Quattrocento Sans', sans-serif; font-size: 1.875rem; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.438rem;
      margin-top: 1rem;
      margin-bottom: .7rem;
      margin-right: auto;
    }



.grid-x
  h2
  {
    font-family: 'Quattrocento Sans', sans-serif; font-size: 1.875rem; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.438rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    text-align: left;
  }

.button {
  font-size: 1.875rem;
}

.input{
  font-size: 1.875rem
}

.search {background:url(https://adventuresincooking.com/wp-content/uploads/2017/11/Saffron-Star-Bread-by-Eva-Kosmas-Flores001-22.jpg) no-repeat center center fixed; background-size:cover;}

.search {width: 62.5rem;height: 5rem;margin: 18.75rem auto;background: #444;background: rgba(0,0,0,.2);border-radius:  0.1875rem;border: 0.0625rem solid #fff;}

.search input:hover{color: #0d1d2d;background-color: white;opacity: .8;text-shadow: 0.125rem 0.125rem 0.3125rem transparent;}

.search input {width: 51.1rem;padding: 1.25rem 0.625rem;float: left;color: #ccc;border: 0;background: transparent;border-radius: 0.1875rem 0 0 0.1875rem; height: 5rem; font-size: 1.5rem; color: white; text-shadow: 0.125rem 0.125rem 0.3125rem black}

.search input:focus {outline: 0;background:transparent;color: #0d1d2d;background-color: white;opacity: .8;text-shadow: 0.125rem 0.125rem 0.3125rem transparent;}

.search button {position: relative;float: right;border: 0;padding: 0;cursor: pointer;height: 5rem;width: 11.25rem;color: #fff;background: transparent;border-left: 0.0625rem solid #fff;border-radius: 0 0.1875rem 0.1875rem 0; font-size: 1.875rem; color: white; text-shadow: 0.125rem 0.125rem 0.3125rem black}

.search button:hover {background: #75d68d;color:#444;text-shadow: 0.125rem 0.125rem 0.3125rem transparent}
.search button:active {box-shadow: 0rem 0rem 0.75rem 0rem rgba(225, 225, 225, 1);}

.search button:focus {outline: 0;}

.accordion-title{
  text-shadow: 0.125rem 0.125rem 0.3125rem black;
  font-family: 'Quattrocento Sans', sans-serif; font-size: 1.875rem; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.438rem;

}

.menu
  li
    form
      input {
        border-radius:  0.1875rem;
        border: 0.0625rem solid #fff;
        outline: 0;
        background:transparent;
        font-size: 1.25rem;
        color: white;
        max-width: 17rem;
        margin-right: 0.3rem;
        height: 3.25rem;
        text-shadow: 0.03125rem 0.03125rem 0.25rem #0d1d2d;
        font-size: 1.875rem;
      }

      .menu
        li
          form
            label {

              color: white;

            }

.menu
  li
    form
      input.loginsubmit:hover{
    background-color: #75d68d;
    color:#444
}

.menu
  li
    form
      input:focus {
        background-color: rgba(255,255,255, 0.7);
        color: #0d1d2d;
        text-shadow: 0.03125rem 0.03125rem 0.25rem transparent;
      }

.menu
  li
    form
      input:hover {
        color: #0d1d2d;
        background-color: rgba(255,255,255, 0.8);
        text-shadow: 0.03125rem 0.03125rem 0.25rem transparent;
      }

.menu
  li
    form
      placeholder {
        color: white;
      }

.flash-notice{
    background-attachment: fixed;
    background-image: url("https://adventuresincooking.com/wp-content/uploads/2017/11/Saffron-Star-Bread-by-Eva-Kosmas-Flores001-22.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 0.125rem 0.125rem 0.3125rem black;
    padding-left: 1rem;
  }

  .flash-alert{
      background-attachment: fixed;
      background-image: url("https://adventuresincooking.com/wp-content/uploads/2017/11/Saffron-Star-Bread-by-Eva-Kosmas-Flores001-22.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      text-shadow: 0.125rem 0.125rem 0.3125rem black;
      padding-left: 1rem;
    }

h2 {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

a {
  padding-top: 2.5%;
  padding-left: 4.5%;
  padding-right: 3%;

}

a.button{
  vertical-align: middle;
}

path {
  stroke-width: 1.875rem;
}

.new_user {
  padding-left: 10rem;
  padding-right: 10rem;
}

.recipelist{
  box-shadow: 0 0.1875rem 0.375rem rgba(0,0,0,0.16), 0 0.1875rem 0.375rem rgba(0,0,0,0.16);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-right: 12%;
  margin-left: 12%;
  margin-top: 2rem;
  background: #fff;
  border: 0.0625rem solid;
  border-color: #e1edf2;
  border-radius: 0.0625rem;
}

.recipelist
  a {
    color: black;
  }

.recipelist:hover {
  box-shadow: 0 0.875rem 1.75rem #a7b4ba, 0 0.625rem 0.625rem #a7b4ba;
}

.recipeshow{
  margin-right: 8.3333333333%;
  margin-left: 8.3333333333%;

}

.button-group
  .button{
    margin-top: 0.6rem;
    font-family: 'Quattrocento Sans', sans-serif; font-size: 1.875rem; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.438rem;
    background-color: #D9464D;
    text-align: center;
    vertical-align: middle;

  }

table{
  margin-top: 0.6rem;
}


.button-group
  .button:hover{
    background-color: #75d68d;
  }

.button button:hover {background: #fff;color:#e01156;text-shadow: 0.125rem 0.125rem 0.3125rem transparent}

.accordion-item.is-active
  .accordion-title{
    text-shadow: 0.125rem 0.125rem 0.3125rem transparent;

  }

.accordion-item
  .accordion-title:visited{
  text-shadow: 0.125rem 0.125rem 0.3125rem transparent;
}

a:hover{
  text-shadow: 0.125rem 0.125rem 0.3125rem transparent;
}

a:visited{
  text-shadow: 0.125rem 0.125rem 0.3125rem transparent;
}

a:active{
  text-shadow: 0.125rem 0.125rem 0.3125rem transparent;
}

a:focus{
  text-shadow: 0.125rem 0.125rem 0.3125rem transparent;
}

.accordion-item.is-active:hover
  .accordion-title{
    text-shadow: 0.125rem 0.125rem 0.3125rem transparent;

  }

.grid-container
  input.cell {
      font-family: 'Quattrocento Sans', sans-serif; font-size: 1.875rem; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.438rem;
      padding-top: 1.25rem;
      padding-right: 1rem;
      padding-bottom: 1.25rem;
      padding-left: 1rem;
      margin-bottom: 0.9375rem;
      margin-top: 0.3125rem;
      border-color: #386698;
      border-style: inset;
      border-width: medium;
      border-radius: 0.9375rem;
    }

.top-bar-left
  a {
    padding-left: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-shadow: 0.1875rem 0.1875rem 0.4375rem #D9464D;
    font-family: 'Monoton', cursive;
    font-size: 4.375rem; font-style: normal; font-variant: normal; font-weight: 700; line-height: 1.65rem;
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
  }

.top-bar-left
  a:hover{
  text-shadow: 0.125rem 0.125rem 0.3125rem transparent;
  }

.top-bar-right
  .menu {
    font-size: 2.25rem;
    text-shadow: 0.0625rem 0.0625rem 0.4375rem #e01156;
    background-color: transparent;
  }

.top-bar-right
  .menu
    a {
      color: white;
      font-family: 'Quattrocento Sans', sans-serif;
      font-style: italic;
      font-weight: bold;
    }

.accordion-content
  label
    {
      font-family: 'Quattrocento Sans', sans-serif; font-size: 1.5rem; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.438rem;

    }
